<main class="main">
  <div class="card">登録店一覧</div>
  <div class= "block">
    <div class="card__body">
      <%= link_to "店名", root_path, class: :card__title%>
        <p class="card__summary">
          <%= "ジャンル" %>
        </p>
    </div>
  </div>
</main>
