/* リセットCSS */
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
  color: #3b4043;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #3b4043;
}

/* ヘッダー */

.header {
  background-color: #f4cfa7;
  height: 90px;
}
.image_restaurant {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 30%;
  padding: 90px 0;
}
.inner {
  width: 1024px;
  height: 100%;
  margin: 0 auto;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: 138vh;
}
.logo {
  width: 150px;
  height: 150px;
  position: relative;
  bottom: 8vh;
  right: 6vw;
}
.nav__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: rgb(131, 55, 11);
  text-decoration: none;
  user-select: none;
  border: 1px #8e651d solid;
  border-radius: 3px;
  transition: 0.4s ease;
}
.nav__btn:hover{
  color: #fff;
  background: rgb(208, 187, 165);
}

.nav__logout{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #ab5a09;
  text-decoration: none;
  user-select: none;
}
.nav__logout:hover{
  opacity: 0.5;
}


/* メイン */

.greeting{
  margin-bottom: 20px;
}
.greeting__link{
  text-decoration: underline;
}
.page-heading {
  font-size: 30px;
  margin-bottom: 28px;
}
.card__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: left;
  min-height: calc(100vh - 161px);
}
.card {
  position: absolute;
  color: black;
  top: 90px;
  left: 30px;
  font-weight: 600;
  font-size: 2em;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.shop_list {
  position: relative;
  height: 35vh;
}
.block {
  background-color: #fff;
  position: relative;
  width: 550px;
  height: 200px;
  top: 70px;
  left: 20px;
  border-radius: 10px 10px;
}
.shop_imege {
  object-fit: cover;
  position: absolute;
  left: 22vw;
  top: 4vh;
}

.card__img {
  margin-bottom: 16px;
}
.card__title {
  display: block;
  font-size: 30px;
  margin-bottom: 10px;
  font-weight: bold;
  padding: 30px 20px;
}
.card__summary {
  font-size: 20px;
  padding: 0 20px;
}

.contents_row {
  background-color: bisque;
  height: 100vh;
  display: flex;
}
.logo_t {
  position: absolute;
  left: 550px;
}

.logo_y{
  height: 300px;
  width: 300px;
}

/* 商品一覧 */

.item-contents {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
}

.item-contents>.title {
  font-size: 5vh;
  line-height: 1.4;
  font-weight: bold;
}

.item-contents>.subtitle {
  font-size: 3vh;
  margin: 1vh 0;
  text-decoration: none;
  color: #3ccace;
  font-weight: bold;
}

.item-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item-lists>.list {
  width: 37vh;
  padding: 1vw;
  background-color: #FFF;
}


.item-img-content {
  position: relative;
}

.item-img {
  width: 33vh;
  height: 33vh;
}

.sold-out {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  background-color: crimson;
  transform: skewY(-10deg);
}

.sold-out>span {
  color: #FFF;
  font-size: 45px;
  font: bold;
}


.item-info {
  background-color: #FFF;
  color: black;
  padding: 1vw;
}

.item-name {
  font-size: 2.5vh;
}

.item-price {
  font-size: 1.5vh;
  display: flex;
  justify-content: space-between;
}


.star-btn {
  display: flex;
  align-items: center;
}

.star-icon {
  height: 2vh;
  width: 2vh;
  margin-right: 0.5vw;
}

.star-count {
  font-size: 2vh;
}

/* //商品一覧 */