/* リセットCSS */
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
  color: #3b4043;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #3b4043;
}

/* ヘッダー */

.header {
  background-color: #f4cfa7;
  height: 90px;

}
.image_restaurant {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 30%;
  padding: 90px 0;
}
.inner {
  width: 1024px;
  height: 100%;
  margin: 0 auto;
  
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: 138vh;
}
.logo {
  width: 150px;
  height: 150px;
  position: relative;
  bottom: 8vh;
  right: 6vw;
}
.nav__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: rgb(131, 55, 11);
  text-decoration: none;
  user-select: none;
  border: 1px #8e651d solid;
  border-radius: 3px;
  transition: 0.4s ease;
}
.nav__btn:hover{
  color: #fff;
  background: rgb(208, 187, 165);
}

.nav__logout{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #ab5a09;
  text-decoration: none;
  user-select: none;
}
.nav__logout:hover{
  opacity: 0.5;
}

/* フォーム周り */
.form__wrapper{
  min-height: calc(100vh - 161px);
}

.form__text {
  width: 50%;
}

.field{
  margin: 10px 0;
}

.actions{
  margin-bottom: 40px;
}

.form__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #fff;
  text-decoration: none;
  user-select: none;
  background: #87CEFA;
  border: 1px #87CEFA solid;
  border-radius: 3px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;
}

.form__btn:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

/* メイン */

.greeting{
  margin-bottom: 20px;
}
.greeting__link{
  text-decoration: underline;
}
.page-heading {
  font-size: 30px;
  margin-bottom: 28px;
}
.card__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: left;
  min-height: calc(100vh - 161px);
}
.card {
  position: absolute;
  color: black;
  top: 90px;
  left: 30px;
  font-weight: 600;
  font-size: 2em;
}
.block {
  background-color: #fff;
  position: absolute;
  width: 500px;
  height: 200px;
  top: 180px;
  left: 80px;
  border-radius: 10px 10px;
}
.card__img {
  margin-bottom: 16px;
}
.card__title {
  display: block;
  font-size: 30px;
  margin-bottom: 10px;
  font-weight: bold;
  padding: 30px 20px;
}
.card__summary {
  font-size: 20px;
  padding: 0 20px;
}


/* タブレット対応 */
@media (max-width: 1024px) {
  .inner {
    width: 90%;
    margin: 0 auto;
  }
  .page-heading {
    font-size: 24px;
  }
  .card {
    width: 48%;
    margin-bottom: 40px;
  }
  .prototype_image{
    width: 60%;
  }
}

 /* スマホ表示 */
@media (max-width: 599px) {
  .logo {
    width: 120px;
  }
  .page-heading {
    font-size: 20px;
  }
  .card {
    width: 100%;
    margin-bottom: 60px;
  }
  .card__title {
    font-size: 18px;
  }
  .card__summary {
    font-size: 14px;
  }
  .prototype_image{
    width: 100%;
  }
  .table{
    width: 100%;
  }
}
